body {
    font-family: sans-serif;
    background-color: $background_color$;
    color: $text_color$;
}
.toc-container {
    position: sticky;
    top: 100px;
    height: calc(100vh - 100px);
    overflow-y: auto;
}
@media (max-width: 767px) {
    .toc-container {
        display: none;
    }
}
#main-content {
    padding-top: 2rem;
}
h1, h2, h3, h4, h5, h6 {
    scroll-margin-top: 4rem;
}
img {
    @extend .img-fluid;
}
figcaption {
    padding-left: 20px;
    padding-right: 20px;
    font-size: .8em;
}
.card:hover {
  background-color: var(--bs-secondary-bg) !important;
}
