{% extends 'content/page.html' %}
{% block title %}
    {% if tag %}
        {{ page.full_title }} - Tagged with {{ tag }}
    {% else %}
        {{ page.full_title }}
    {% endif %}
{% endblock %}
{% if not page.index_file and not page.has_single_file %}
    {% block sidebar %}{% endblock %}
{% endif %}
{% block content %}
{% if not page.index_file and not page.has_single_file %}
    <div id="content" class="p-4 p-md-3 pt-3 col-xl-9 col-md-8">
{% else %}
    <div id="content" class="p-4 p-md-3 pt-3 col-md-6">
{% endif %}
{% block breadcrumb %}
    {% include 'content/page_breadcrumb.html' %}
{% endblock %}
<div class="container">
    <div class="row">
        {% with folder=page %}
            {% include "content/folder.html" %}
        {% endwith %}
    </div>
</div>
</div>
{% endblock %}
