{% for file in folder.sorted %}
    <div class="col-xl-4 col-md-6 mb-3 text-decoration-none">
        <div class="card h-100">
            {% if file.thumbnail_sluged_path %}
                <a href="{{ request.url_for('get_page_content', targetpath=file.sluged_path) }}">
                    <img src="{{ request.url_for('get_page_content', targetpath=file.thumbnail_sluged_path) }}"
                         class="card-img-top"
                         alt="..."
                         style="object-fit: cover;
                                height: 200px">
                </a>
            {% endif %}
            <div class="card-body">
                <a href="{{ request.url_for('get_page_content', targetpath=file.sluged_path) }}">
                    <h6 class="card-title">{{ file.metadata.title }}</h6>
                </a>
                {% if file.metadata.subtitle %}<div style="font-size: 0.75rem;">{{ file.metadata.subtitle }}</div>{% endif %}
                {% if file.metadata.tags %}
                    <li class="pt-2 list-group-item d-flex justify-content-between align-items-start"
                        style="font-size: .8rem">
                        <div class="ms-2 me-auto">
                            <ul class="list-inline">
                                {% for item in file.metadata.tags %}
                                    <li class="list-inline-item">
                                        <a href="{{ request.url_for('get_pages_with_tag', tag=item) }}">
                                            <span class="badge text-bg-secondary">{{ item }}</span>
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </li>
                {% endif %}
                <div class="fw-lighter card-text text-end position-absolute bottom-0 end-0 m-2"
                     style="font-size: .75rem">
                    {{ file.metadata.format_date(config.content.datetime_template_format) }}
                </div>
            </div>
        </div>
    </div>
{% endfor %}
