<div style="--bs-breadcrumb-divider: url(&#34; data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;)" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item" aria-current="page">
            <a href="{{ site.url }}">Home</a>
        </li>
        {% for item in page.breadcrumb if not (item.parent_folder and item.parent_folder.has_single_file) %}
            <li class="breadcrumb-item{{ ' active' if loop.last }}"
                aria-current="page">
                {% if not loop.last %}
                    <a href="{{ request.url_for('get_page_content', targetpath=item.sluged_path) }}">{{ item.metadata.title }}</a>
                {% else %}
                    {{ item.metadata.title }}
                {% endif %}
            </li>
        {% endfor %}
    </ol>
</div>
