<div class="card" style="margin-top:10px;">
    <div class="card-header">Page Info</div>
    <ul class="list-group list-group-flush text-break">
        {% if page.metadata.tags %}
            <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                    tags
                    <ul class="list-inline">
                        {% for item in page.metadata.tags %}
                            <li class="list-inline-item">
                                <a href="{{ request.url_for('get_pages_with_tag', tag=item) }}">
                                    <span class="badge text-bg-secondary">{{ item }}</span>
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </li>
        {% endif %}
        <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
                title
                <div class="fw-bold">{{ page.metadata.title }}</div>
            </div>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
                slug
                <div class="fw-bold">{{ page.metadata.slug }}</div>
            </div>
        </li>
        {% if page.metadata.date %}
            <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                    date
                    <div class="fw-bold">{{ page.metadata.format_date(config.content.datetime_template_format) }}</div>
                </div>
            </li>
        {% endif %}
        {% if page.metadata.author %}
            <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                    author
                    <div class="fw-bold">{{ page.metadata.author }}</div>
                </div>
            </li>
        {% endif %}
        {% if redirect_from %}
            <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                    redirected from
                    <div class="fw-bold">{{ redirect_from }}</div>
                </div>
            </li>
        {% endif %}
    </ul>
</div>
