{% extends 'content/page.html' %}
{% block style %}<style type="text/css" media="screen">$highlighting-css$</style>{% endblock %}
{% block title %}{{ page.full_title }}{% endblock %}
{% block toc %}
    $if(toc)$
    <div class="card">
        <div class="card-header">Table of Contents</div>
        <div class="card-body">$toc$</div>
    </div>
    $endif$
{% endblock %}
{% block body %}
    <h2 class="mb-4">$title$</h2>
    {% raw %}
        $body$
    {% endraw %}
{% endblock %}
