{% extends "base.html" %}
{% if page.metadata.mathjax %}
    {% block head %}
        <script async
                src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/3.2.0/es5/tex-chtml.min.js"></script>
    {% endblock %}
{% endif %}
{% block og_type %}
        <meta property="og:description" content="{{ site.description }}" />
        <meta property="og:title" content=" {{ page.full_title }} | {{ site.name }}" />
        <meta property="og:url" content="{{ request.url_for('get_page_content', targetpath=page.sluged_path) }}" />
        <meta property="og:type" content="article" />
            {% for tag in page.metadata.tags %}
            <meta property="article:tag" content="{{ tag }}" />{% endfor %}
            {% for item in page.breadcrumb if not (item.parent_folder and item.parent_folder.has_single_file) %}{% if not loop.last %}<meta property="article:section" content="{{ item.metadata.title }}" />{% endif %} {% endfor %}
            <meta property="article:author" content="{{ page.metadata.author }}" />
            {% if page.metadata.date %}
            <meta property="article:published_time" content="{{ page.metadata.iso_date }}" />
            {% endif %}
{% endblock %}
{% block sidebar %}
    <nav id="sidebar" class="p-4 pt-3 col-md-3">
        <div>
            {% block toc %}{% endblock %}
        </div>
        <div>
            {% block page_info %}
                {% include 'content/page_info.html' %}
            {% endblock %}
        </div>
    </nav>
{% endblock %}
{% block content %}
    <div id="content" class="p-4 p-md-3 pt-3 col-xl-6 col-md-5">
        {% block breadcrumb %}
            {% include 'content/page_breadcrumb.html' %}
        {% endblock %}
        {% block body %}{% endblock %}
    </div>
{% endblock %}
