{% extends 'two_columns.html' %}
{% block title %}
Photogallery
{% endblock %}
{% block content %}
{% include 'gallery/gallery_breadcrumb.html' %}
<div class="container">
    <div class="row">
        {% for album in gallery.albums %}
        <div class="col-xxl-4 col-md-6 mb-2">
            <div class="card">
                <a href="{{ request.base_url }}gallery/{{ album.relative_path }}">
                {% if album.pictures[0].relative_path.suffix in gallery_conf.video_extensions %}
                <video class="w-100 shadow-1-strong rounded mb-4">
                    <source
                        src="{{ request.url_for('get_picture_content', album_name=album.name, picture_name=album.pictures[0].relative_path.parts[-1]) }}"
                        class="card-img-top" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
                    <source
                        src="{{ request.url_for('get_picture_content', album_name=album.name, picture_name=album.pictures[0].relative_path.parts[-1]) }}"
                        class="card-img-top" type='video/ogg; codecs="theora, vorbis"'>
                    Your browser does not support my HTML5 video player
                </video>
                {% else %}
                <img src="{{ request.url_for('get_picture_content', album_name=album.name, picture_name=album.pictures[0].relative_path.parts[-1]) }}"
                    class="card-img-top" class="w-100 shadow-1-strong rounded mb-4" alt="{{ album.name }}" />
                {% endif %}
                </a>
                <div class="card-body">
                    <h5 class="card-title">{{ album.name }}</h5>
                    {% if album.desc_file %}
                    <p class="card-text">
                        {{ album.desc_file.exported_content | safe }}
                    </p>
                    {% endif %}
                    <a href="{{ request.base_url }}gallery/{{ album.relative_path }}" class="btn btn-primary">View
                        items</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
