{% extends 'two_columns.html' %}
{% block title %}
    {% if tag %}
        Photogallery - Tagged with {{ tag }}
    {% else %}
        Photogallery - {{ album.name }}
    {% endif %}
{% endblock %}
{% block content %}
{% include 'gallery/gallery_breadcrumb.html' %}
    <div class="row">
        {% if album.desc_file %}
            <div class="col-lg-12 mb-4 mb-lg-0">
                {{ album.desc_file.exported_content | safe }}
            </div>
        {% endif %}
        {% for picture in album.pictures %}
            <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
                <a href="{{ request.url_for('get_picture_content', album_name=picture.album.name, picture_name=picture.name) }}">
                    {% if picture.relative_path.suffix in gallery_conf.video_extensions %}
                        <video class="w-100 shadow-1-strong rounded mb-4">
                            <source
                                src="{{ request.url_for('get_picture_content', album_name=picture.album.name, picture_name=picture.relative_path.parts[-1]) }}"
                                type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
                                <source
                                    src="{{ request.url_for('get_picture_content', album_name=picture.album.name, picture_name=picture.relative_path.parts[-1]) }}"
                                    type='video/ogg; codecs="theora, vorbis"'>
                                    Your browser does not support my HTML5 video player
                        </video>
                    {% else %}
                        <img src="{{ request.url_for('get_picture_content', album_name=picture.album.name, picture_name=picture.relative_path.parts[-1]) }}"
                             class="w-100 shadow-1-strong rounded mb-4" alt="{{ picture.name }}" />
                         {% endif %}
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock %}
