{% extends 'two_columns.html' %}
{% block title %}
Photogallery - {{ picture.name }}
{% endblock %}
{% block content %}
{% include 'gallery/gallery_breadcrumb.html' %}
<div class="col-md-12 mb-4 mb-lg-0">
  {% if picture.relative_path.suffix in gallery_conf.video_extensions %}
  <video class="w-100" controls>
    <source src="{{ request.url_for('get_picture_content', album_name=album.name, picture_name=picture.relative_path.parts[-1]) }}" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
    <source src="{{ request.url_for('get_picture_content', album_name=album.name, picture_name=picture.relative_path.parts[-1]) }}" type='video/ogg; codecs="theora, vorbis"'>
    Your browser does not support my HTML5 video player
  </video>
  {% else %}

  <a href="#myModal" type="" class="" data-bs-toggle="modal" data-bs-target="#myModal">

    <img class="img-responsive img-fluid img-thumbnail shadow-1-strong rounded mb-4" src="{{ request.url_for('get_picture_content', album_name=album.name, picture_name=picture.relative_path.parts[-1]) }}" alt="{{ picture.name }}" data-toggle="modal" data-target="#myModal">
  </a>

  <div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">{{ picture.title }}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <img src="{{ request.url_for('get_picture_content', album_name=album.name, picture_name=picture.relative_path.parts[-1]) }}" alt="{{ picture.name }}" class="img-fluid img-responsive">
        </div>
        <div class="modal-footer">
          <div class="ms-2 me-auto">
            Title
            <div class="fw-bold">{{ picture.metadata.title }}</div>
          </div>
          <div class="ms-2 me-auto">
            Date taken
            <div class="fw-bold">{{ picture.metadata.date }}</div>
          </div>
          {% if picture.metadata.tags %}
          <div class="ms-2 me-auto">
            Tags
            <ul class="list-inline">
              {% for item in picture.metadata.tags %}
              <li class="list-inline-item">
                <a href="{{ request.url_for('get_pictures_with_tag', tag=item) }}">
                  <span class="badge text-bg-secondary">{{ item }}</span>
                </a>
              </li>
              {% endfor %}
            </ul>
          </div>
          {% endif %}
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <ol class="list-group">
    <li class="list-group-item d-flex justify-content-between align-items-start">

      <div class="ms-2 me-auto">
        Title
        <div class="fw-bold">{{ picture.metadata.title.title() }}</div>
      </div>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-start">
      <div class="ms-2 me-auto">
        Date taken
        <div class="fw-bold">{{ picture.metadata.date }}</div>
      </div>
    </li>
    {% if picture.metadata.tags %}
    <li class="list-group-item d-flex justify-content-between align-items-start">
      <div class="ms-2 me-auto">
        Tags
        <ul class="list-inline">
          {% for item in picture.metadata.tags %}
          <li class="list-inline-item">
            <a href="{{ request.url_for('get_pictures_with_tag', tag=item) }}">
              <span class="badge text-bg-secondary">{{ item }}</span>
            </a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </li>
    {% endif %}
    {% if picture.desc_file %}
    <li class="list-group-item d-flex justify-content-between align-items-start">
      <div class="ms-2 me-auto">
        Description
        <div class="fw-bold">
          {{ picture.desc_file.exported_content | safe }}
          /div>
        </div>
    </li>
    {% endif %}
    <li class="list-group-item d-flex justify-content-between align-items-start">
      <div class="ms-2 me-auto">
        Album
        <a href="{{ request.url_for('get_gallery_album', album_name=picture.album.name) }}">
          <div class="fw-bold">{{ picture.album.name }}</div>
        </a>
      </div>
    </li>
  </ol>

  {% endif %}
      </div>
      {% endblock %}
