{% extends 'base.html' %}
{% block sidebar %}
{% endblock %}
{% block breadcrumb %}
{% endblock %}
{% block title %}
Page not found
{% endblock %}

{% block content %}
<div id="content" class="p-4 p-md-3 pt-3 col-xl-9 col-md-8">
  <div class="container">
      <h4>Page not found</h4>
      <p>{{ exc }}</p>
    <div class="row">
        <img class="w-50" src="{{ request.url_for('static', path='/image/404.gif') }}" alt="Page Not Found" />
    </div>
    <p>Take me <a href="{{ request.base_url }}">home</a></p>
  </div>
</div>
{% endblock %}
