{% extends 'base.html' %}
{% block sidebar %}
{% endblock %}
{% block breadcrumb %}
{% endblock %}
{% block title %}
Internal error
{% endblock %}
{% block content %}
<div id="content" class="p-4 p-md-3 pt-3 col-xl-9 col-md-8">
    <div class="container">
        <h4>Internal error</h4>
        <p>{{ exc }}</p>
        <div class="row">
            <img class="w-50" src="{{ request.url_for('static', path='/image/500.gif') }}" alt="Page Not Found" />
        </div>
        <p>
            Go <a href="{{ request.base_url }}">home</a>
            and try again or send me an
            <a href="mailto:{{ site.email }}">email</a>.
        </p>
    </div>
</div>
{% endblock %}
