<!DOCTYPE html>
<html lang="en-us">
    <head>
        <title>{% block title %}{% endblock %} | {{ site.name }} </title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="Content-Security-Policy"
              content="upgrade-insecure-requests">
        <meta name="description" content="{{ site.description }}" />
        {% block og_type %}
        {% endblock %}
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"
              rel="stylesheet"
              integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ"
              crossorigin="anonymous">
        <link rel="stylesheet"
              href="{{ request.url_for('static', path='/css/main.css') }}">
        <link rel="stylesheet"
              href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
        {% block head %}{% endblock %}
        {% block style %}{% endblock %}
    </head>
    <body data-bs-theme="dark">
        <div class="row container-fluid">
            {% block sidebar %}{% endblock %}
            {% block columns %}
                {% block content %}{% endblock %}
            {% endblock %}
            {% include "site_info.html" %}
        </div>
        <script src="{{ request.url_for('static', path='/js/main.js') }}"></script>
        <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
        {% block script %}{% endblock %}
    </body>
</html>
