<nav id="sidebar" class="p-4 pt-3 col-xl-3 col-md-4">
    <div class="card" style="border-radius: 15px;">
        <div class="card-header text-center">
            <div>
                <div class="m-2 m-md-4">
                    <img src="{{ site.url }}{{ site.profile_image }}"
                         class="rounded img-thumbnail img-fluid mx-auto w-100"
                         style="max-width: 250px" />
                </div>
                <h4>{{ site.name }}</h4>
                <p class="text-muted">{{ site.slogan }}</p>
            </div>
        </div>
        <div class="card-body text-center">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <div class="row">
                        <div class="col" style="min-width: 180px;">
                            <ul class="list-unstyled components mb-2 mt-1">
                                <li {% if "/posts" in request.url.path %}class="link-opacity-25"{% endif %}>
                                    <a href="{{ request.url_for('get_page_content', targetpath='posts') }}"
                                       data-toggle="collapse"
                                       aria-expanded="false"
                                       class="fw-bold link-body-emphasis link-offset-2 link-underline-opacity-10 link-underline-opacity-75-hover">
                                        <i class="bi bi-blockquote-left"></i>
                                        Posts
                                    </a>
                                </li>
                                <li {% if "/projects" in request.url.path %}class="link-opacity-25"{% endif %}>
                                    <a href="{{ request.url_for('get_page_content', targetpath='projects') }}"
                                       data-toggle="collapse"
                                       aria-expanded="false"
                                       class="fw-bold link-body-emphasis link-offset-2 link-underline-opacity-10 link-underline-opacity-75-hover">
                                        <i class="bi bi-file-code-fill"></i>
                                        Projects
                                    </a>
                                </li>
                                <li {% if "/gallery" in request.url.path %}class="link-opacity-25"{% endif %}>
                                    <a href="{{ request.url_for("get_albums") }}"
                                       data-toggle="collapse"
                                       aria-expanded="false"
                                       class="fw-bold link-body-emphasis link-offset-2 link-underline-opacity-10 link-underline-opacity-75-hover">
                                        <i class="bi bi-camera-fill"></i>
                                        Photogallery
                                    </a>
                                </li>
                                <li {% if "/My_Resume" in request.url.path %}class="link-opacity-25"{% endif %}>
                                    <a href="{{ request.url_for('get_page_content', targetpath='My_Resume') }}"
                                       data-toggle="collapse"
                                       aria-expanded="false"
                                       class="fw-bold link-body-emphasis link-offset-2 link-underline-opacity-10 link-underline-opacity-75-hover">
                                        <i class="bi bi-file-person-fill"></i>
                                        Resume
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="col">
                            <div class="mt-1 pt-2" style="min-width: 110px;">
                                <a href="mailto:{{ site.email }}"
                                   class="link-body-emphasis text-decoration-none">
                                    <i class="bi bi-envelope-fill m-2" style="font-size: 1.52rem;"> </i>
                                </a>
                                <a rel="me"
                                   href="https://fosstodon.org/@hadi"
                                   class="link-body-emphasis text-decoration-none">
                                    <i class="bi bi-mastodon m-2" style="font-size: 1.52rem;"> </i>
                                </a>
                                <a href="https://www.thingiverse.com/hhadi/designs"
                                   class="link-body-emphasis text-decoration-none">
                                    <i class="bi bi-box-fill m-2" style="font-size: 1.52rem;"></i>
                                </a>
                            </div>
                            <div class="mb-1 pb-2" style="min-width: 120px;">
                                <a href="http://github.com/haditim"
                                   class="text-decoration-none link-secondary">
                                    <i class="bi bi-github m-2" style="font-size: 1.5rem;"></i>
                                </a>
                                <a href="{{ request.url_for('get_page_content', targetpath='posts/Moving_To_Codeberg') }}"
                                   class="fs-4 text-decoration-none link-body-emphasis"
                                   style="font-size: 10px">→</a>
                                <a href="http://codeberg.org/haditim"
                                   class="link-body-emphasis text-decoration-none">
                                    <svg xmlns="http://www.w3.org/2000/svg"
                                         width="24"
                                         height="24"
                                         fill="currentColor"
                                         viewBox="0 0 24 24"
                                         style="vertical-align:top;
                                                margin:.5rem;
                                                margin-top:.3rem"
                                         class="bi">
                                        <path d="M11.955.49A12 12 0 0 0 0 12.49a12 12 0 0 0 1.832 6.373L11.838 5.928a.187.14 0 0 1 .324 0l10.006 12.935A12 12 0 0 0 24 12.49a12 12 0 0 0-12-12 12 12 0 0 0-.045 0zm.375 6.467 4.416 16.553a12 12 0 0 0 5.137-4.213z">
                                        </path>
                                    </svg>
                                </a>
                                <a href="{{ request.url_for("get_rss") }}"
                                   class="text-decoration-none link-body-emphasis">
                                    <i class="bi bi-rss-fill m-2" style="font-size: 1.5rem;"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
            <p class="fw-light fs-6 text-muted text-center mt-2 mb-1">{{ site.copyright }}</p>
            <p class="text-muted text-center" style="font-size: .95rem;">
                <a class="text-decoration-none text-body-emphasis"
                   href="{{ request.url_for("get_sitemap") }}"><i class="bi bi-diagram-3-fill"></i> sitemap</a>
            </p>
            <p class="text-muted text-center" style="font-size: .75rem;">
                website built with <a href="https://codeberg.org/haditim/SereServe">SereServe</a>
            </p>
            <div>
                <button type="button"
                        id="darkMode"
                        class="btn btn-outline-secondary"
                        aria-label="Dark Mode"
                        style="--bs-btn-font-size: .75rem">
                    <i class="bi bi-moon-fill"></i>
                    Dark Mode
                </button>
            </div>
        </div>
    </div>
</nav>
