    <h6>{{ folder.metadata.title }}</h6>
<div class="list-group">
    {% for file in folder.files %}
        <a class="list-group-item d-flex justify-content-between align-items-center" href="{{ request.url_for('get_page_content', targetpath=file.sluged_path) }}">
            <div>
                {{ file.metadata.title }}
            </div>
            {% if file.metadata.subtitle %}
                <div style="font-size: 0.75rem;">
                    {{ file.metadata.subtitle }}
                </div>
            {% endif %}
            <div style="font-size: .65rem;">
                {{ file.metadata.format_date(config.content.datetime_template_format) }}
            </div>
        </a>
    {% endfor %}
    {% for folder in folder.folders %}
        {% if folder.index_file or folder.has_single_file %}
            <a class="list-group-item d-flex justify-content-between align-items-center" href="{{ request.url_for('get_page_content', targetpath=folder.sluged_path) }}">
                <div>
                    {{ folder.metadata.title }}
                </div>
                {% if folder.metadata.subtitle %}
                    <div style="font-size: 0.75rem;">
                        {{ folder.metadata.subtitle }}
                    </div>
                {% endif %}
                <div style="font-size: .65rem;">
                    {{ folder.metadata.format_date(config.content.datetime_template_format) }}
                </div>
            </a>
        {% endif %}
    {% endfor %}
        {% for folder in folder.folders %}
            {% if not folder.index_file and not folder.has_single_file %}
    <div class="list-group-item">
                {% include "sitemap_folder.html" %}
    </div>
            {% endif %}
        {% endfor %}
</div>
