{% extends 'two_columns.html' %}
{% block title %}
    Sitemap
{% endblock %}
{% block content %}
    <div class="container">
        {% with folder=content %}
            {% include "sitemap_folder.html" %}
        {% endwith %}
        <div class="list-group">
            <h6>Photogallery</h6>
            {% for album in gallery.albums %}
                <div class="list-group-item">
                    <h6>{{ album.name }}</h6>
                    <div class="list-group">
                        {% for picture in album.pictures %}
                            <a class="list-group-item d-flex justify-content-between align-items-center" href="{{ request.url_for('get_picture_content', album_name=album.name, picture_name=picture.name) }}">
                        <div>
                                {{ picture.metadata.title }}
                            </div>
                        <div style="font-size: .65rem;">
                            {{ picture.metadata.format_date(config.content.datetime_template_format) }}
                        </div>
                            </a>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
